@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

:root {
	--primary: #5940DF;
	--primary-deep: #53469A;
	--secondary: #EDEBF6;
	--white: #fff;
	--bg: #F5F5F7;
	--grey1: #DEE3E9;
	--grey2: #CFD4D9;
	--grey3: #BDC1CC;
	--grey4: #A2A7B3;
	--grey5: #4E505D;
	--black: #161618;
}

html {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
	min-width: 360px;
	color: #111;
	letter-spacing: -0.025em;
}

button {
	font-family: inherit;
	letter-spacing: -0.025em;
	cursor: pointer;
}

Select {
	font-family: inherit;  /* 폰트 상속 */
	background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
	 /* 네이티브 화살표를 커스텀 화살표로 대체 */
        -webkit-appearance: none; 
	/* 네이티브 외형 감추기 */
        -moz-appearance: none;
        appearance: none;
}
Select::-ms-expand {
        display: none;/* 화살표 없애기 for IE10, 11*/
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

.lineClamp3 {
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: 3;	
	-webkit-box-orient: vertical;
	display: -webkit-box;
}
// 타블렛브레이크 포인트
@media screen and (max-width:768px) {

}
// 모바일브레이크 포인트
@media screen and (max-width:1280px) {
	
}
  
h2 {
	font-size: 28px;
	margin-bottom: 16px;
}

a {
	&:hover {
		text-decoration: underline;
	}
}

@mixin btn() {
	width: 100%;
	height: 56px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	font-size: 16px;
	font-weight: bold;
	padding: 12px;
	transition: 0.2s;
	&:hover {
		opacity: 0.8;
	}
	@content;
}
.btn-kakao {
	@include btn {
		background-color: #ECD146;
		color: rgba(0,0,0,0.9);
	}
}
.btn-primary {
	@include btn {
		background-color: var(--primary);
		color: var(--white);
		// &:hover {
		// 	background-color: var(--secondary);
		// 	color: var(--primary);
		// }
	}
}
.btn-secondary {
	@include btn {
		background-color: var(--secondary);
		color: var(--primary);
	}
}

.btn-primary-sm {
	@include btn {
		background-color: var(--primary);
		color: var(--white);
		width: auto;
		height: 38px;
		padding: 0 24px;
		font-size: 13px;
	}
}

.input {
	width: 100%;
	height: 56px;
	border: 1px solid #CFD4D9;
	border-radius: 5px;
	padding: 12px;
	box-sizing: border-box;
	font-size: 16px;
	color: var(--black);
	// margin-bottom: 8px;
	transition: 0.3s;
	&::placeholder {
		color: var(--grey4);
	}
	&:focus {
		border-color: var(--primary);
	}
}

.input + .input {
	margin-top: 8px;
}

.checkbox-label {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	color: #757881;
	margin: 16px 0;
	input[type='checkbox'] {
		display: none;
	}
	.checkbox-ic {
		display: block;
		width: 16px;
		height: 16px;
		background: url(../img/ic_checkbox_off.svg) center no-repeat;
	}
	input[type='checkbox']:checked + .checkbox-ic {
		background-image: url(../img/ic_checkbox_on.svg);
	}
}

.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	.dim {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
		padding-top: 28px;
	}
	.confirm,
	.alert {
		gap: 20px;
		background-color: #fff;
		width: 420px;
		border-radius: 8px;
		padding: 36px 16px 16px;
		box-sizing: border-box;
		.mesg {
			width: 100%;
			word-break: break-all;
			line-height: 1.5;
		}
		button {
			margin-top: 20px;
			margin-left: auto;
		}
	}

	&.ac {
		display: block;
	}
}


.login-wrap {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	.login-bg {
		flex: 1 0 0;
		background: center/cover no-repeat url(../img/bg_login.png);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
		position: relative;
		.dim {
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
		}
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			z-index: 0;
		}
	}
	.login-pannel {
		flex: 0 0 600px;
		width: 600px;
		padding: 120px;
		gap: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		box-sizing: border-box;
	}
	.bottom-wrap {
		display: flex;
		flex-direction: column;
		gap: 16px;	
	}
	.divider {
		width: 100%;
		height: 1px;
		background-color: #E6E9F0;
	}
	.link-wrap {
		margin-top: 0;
		display: flex;
		justify-content: space-between;
	}

	.grey-link {
		font-size: 16px;
		font-weight: 600;
		color: var(--grey3);
	}
}

.signup-wrap {
	max-width: 572px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	h2 {
		margin-bottom: 36px;
	}
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	gap: 36px;
	.form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		border: 1px solid #CFD4D9;
		border-radius: 5px;
		padding: 42px;
		padding-bottom: 60px;
		margin-bottom: 36px;
		color: var(--grey4);
		font-weight: 600;
		dl {
			width: 100%;
			position: relative;
			dt {
				position: absolute;
				top: 18.5px;
				left: 0;
			}
			dd {
				padding-left: 120px;
			}
		}
		.inputBtn {
			position: relative;
			button {
				position: absolute;
				top: 50%;
				right: 12px;
				transform: translateY(-50%);
				// margin-top: -5px;
				border: 0;
				background-color: transparent;
				padding: 0;
				color: var(--primary);
				font-size: 16px;
			}
		}
		.inputBtn + .inputBtn {
			margin-top: 8px;
		}

		.subMesg {
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				color: #757881;
				font-size: 16px;
				font-weight: 400;
			}
			.resend {
				color: var(--evoke-grey3, #BDC1CC);
				font-size: 14px;
				font-weight: 500;
				display: flex;
				height: 34px;
				padding: 0px 12px;
				justify-content: center;
				align-items: center;
				border-radius: 54px;
				border: 1px solid var(--evoke-grey3, #BDC1CC);
				background-color: transparent;
			}
		}
	}
	.form2 {
		padding-bottom: 30px;
	}
}

.link-wrap {
	margin-top: 16px;
	a {
		color: var(--evoke-grey3, #BDC1CC);
		font-size: 16px;
		font-weight: 700;
	}
}



.acount-wrap {
	max-width: 460px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	gap: 36px;
	h2 {
		margin-bottom: 0;
	}
	.loginWrap {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	.desc {
		border-radius: 5px;
		background: var(--evoke-bg, #F5F5F7);
		padding: 12px 20px;
		color: var(--evoke-grey4, #A2A7B3);
		font-size: 16px;
		font-weight: 500;
		line-height: 150%; /* 24px */
	}
	.search {
		position: relative;
		.input {
			padding-left: 46px;
			padding-right: 50px;
		}
		.searchIcon {
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			background: url(../img/ic_search.svg) center no-repeat;
		}
		.searchBtn {
			border: 0;
			background-color: transparent;
			padding: 0;
			position: absolute;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);
			color: var(--evoke-primary, #5940DF);
			font-size: 16px;
			font-weight: 600;
		}
	}
	.subtit {
		color: var(--evoke-grey5, #4E505D);
		font-size: 21px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 31.5px */
		letter-spacing: -0.63px;
	}
	.companyWrap {
		display: block;
		padding: 20px 22px;
		border-radius: 5px;
		border: 1px solid var(--evoke-grey2, #CFD4D9);
		background: var(--bs-white, #FFF) url(../img//ic_arr_down_24.svg) right 10px center no-repeat;
		box-shadow: 0px 0px 0px 0px #CBDAFC;
		cursor: pointer;
		position: relative;

		.id {
			color: var(--evoke-grey5, #4E505D);
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 10px;
		}
		.bottom {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.grey4 {
			color: var(--evoke-grey4, #A2A7B3);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
		}
		.divider {
			width: 1px;
			height: 15px;
			background: #D9D9D9;
		}

		.grey5 {
			color: var(--evoke-grey5, #4E505D);
			font-size: 16px;
			font-weight: 400;
		}
	}
	.divider-land {
		width:100%;
		height: 1px;
		background: var(--evoke-grey2, #CFD4D9);
	}
	.btn-secondary + .btn-secondary {
		margin-top: 10px;
	}
	.logout {
		color: var(--evoke-primary, #5940DF);
		font-size: 16px;
		font-weight: 700;
	}

	.etcAccount {
		display: none;
		&.ac {
			display: block;
		}
		max-height: 300px;
		overflow: auto;
		position: absolute;
		top: 105%;
		left: -0.5%;
		width: 101%;
		border-radius: 12px;
		border: 1px solid var(--evoke-grey2, #CFD4D9);
		background: #FFF;
		box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.20);
		padding: 0px 20px;
		box-sizing: border-box;
		z-index: 1;
		.item {
			padding: 20px 0;
		}
		.item + .item {
			border-top: 1px solid var(--evoke-grey2, #CFD4D9);


		}
	}
}