@charset "UTF-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
:root {
  --primary: #5940DF;
  --primary-deep: #53469A;
  --secondary: #EDEBF6;
  --white: #fff;
  --bg: #F5F5F7;
  --grey1: #DEE3E9;
  --grey2: #CFD4D9;
  --grey3: #BDC1CC;
  --grey4: #A2A7B3;
  --grey5: #4E505D;
  --black: #161618;
}

html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  min-width: 360px;
  color: #111;
  letter-spacing: -0.025em;
}

button {
  font-family: inherit;
  letter-spacing: -0.025em;
  cursor: pointer;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

a:hover {
  text-decoration: underline;
}

.btn-kakao {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  transition: 0.2s;
  background-color: #ECD146;
  color: rgba(0, 0, 0, 0.9);
}
.btn-kakao:hover {
  opacity: 0.8;
}

.btn-primary {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  transition: 0.2s;
  background-color: var(--primary);
  color: var(--white);
}
.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  transition: 0.2s;
  background-color: var(--secondary);
  color: var(--primary);
}
.btn-secondary:hover {
  opacity: 0.8;
}

.btn-primary-sm {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  transition: 0.2s;
  background-color: var(--primary);
  color: var(--white);
  width: auto;
  height: 38px;
  padding: 0 24px;
  font-size: 13px;
}
.btn-primary-sm:hover {
  opacity: 0.8;
}

.input {
  width: 100%;
  height: 56px;
  border: 1px solid #CFD4D9;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--black);
  transition: 0.3s;
}
.input::-moz-placeholder {
  color: var(--grey4);
}
.input::placeholder {
  color: var(--grey4);
}
.input:focus {
  border-color: var(--primary);
}

.input + .input {
  margin-top: 8px;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #757881;
  margin: 16px 0;
}
.checkbox-label input[type=checkbox] {
  display: none;
}
.checkbox-label .checkbox-ic {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/ic_checkbox_off.svg) center no-repeat;
}
.checkbox-label input[type=checkbox]:checked + .checkbox-ic {
  background-image: url(../img/ic_checkbox_on.svg);
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}
.modal .dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 28px;
}
.modal .confirm,
.modal .alert {
  gap: 20px;
  background-color: #fff;
  width: 420px;
  border-radius: 8px;
  padding: 36px 16px 16px;
  box-sizing: border-box;
}
.modal .confirm .mesg,
.modal .alert .mesg {
  width: 100%;
  word-break: break-all;
  line-height: 1.5;
}
.modal .confirm button,
.modal .alert button {
  margin-top: 20px;
  margin-left: auto;
}
.modal.ac {
  display: block;
}

.login-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.login-wrap .login-bg {
  flex: 1 0 0;
  background: center/cover no-repeat url(../img/bg_login.png);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: relative;
}
.login-wrap .login-bg .dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.login-wrap .login-bg img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.login-wrap .login-pannel {
  flex: 0 0 600px;
  width: 600px;
  padding: 120px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
}
.login-wrap .bottom-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-wrap .divider {
  width: 100%;
  height: 1px;
  background-color: #E6E9F0;
}
.login-wrap .link-wrap {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}
.login-wrap .grey-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey3);
}

.signup-wrap {
  max-width: 612px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 36px;
}
.signup-wrap h2 {
  margin-bottom: 36px;
}
.signup-wrap .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border: 1px solid #CFD4D9;
  border-radius: 5px;
  padding: 42px;
  padding-bottom: 60px;
  margin-bottom: 36px;
  color: var(--grey4);
  font-weight: 600;
}
.signup-wrap .form dl {
  width: 100%;
  position: relative;
}
.signup-wrap .form dl dt {
  position: absolute;
  top: 18.5px;
  left: 0;
}
.signup-wrap .form dl dd {
  padding-left: 120px;
}
.signup-wrap .form .inputBtn {
  position: relative;
}
.signup-wrap .form .inputBtn button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border: 0;
  background-color: transparent;
  padding: 0;
  color: var(--primary);
  font-size: 16px;
}
.signup-wrap .form .inputBtn + .inputBtn {
  margin-top: 8px;
}
.signup-wrap .form .subMesg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-wrap .form .subMesg span {
  color: #757881;
  font-size: 16px;
  font-weight: 400;
}
.signup-wrap .form .subMesg .resend {
  color: var(--evoke-grey3, #BDC1CC);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  height: 34px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 54px;
  border: 1px solid var(--evoke-grey3, #BDC1CC);
  background-color: transparent;
}
.signup-wrap .form2 {
  padding-bottom: 30px;
}

.link-wrap {
  margin-top: 16px;
}
.link-wrap a {
  color: var(--evoke-grey3, #BDC1CC);
  font-size: 16px;
  font-weight: 700;
}
.link-wrap.flex {
  display: flex;
  justify-content: space-between;
  color: var(--evoke-grey4, #A2A7B3);
  font-size: 16px;
  font-weight: 500;
}
.link-wrap .black-link {
  font-weight: 500;
  color: var(--evoke-grey5, #4E505D);
  margin-left: 4px;
}
.link-wrap .primary-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
}

.acount-wrap {
  max-width: 460px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.acount-wrap h2 {
  margin-bottom: 0;
}
.acount-wrap .loginWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.acount-wrap .desc {
  border-radius: 5px;
  background: var(--evoke-bg, #F5F5F7);
  padding: 12px 20px;
  color: var(--evoke-grey4, #A2A7B3);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.acount-wrap .search {
  position: relative;
}
.acount-wrap .search .input {
  padding-left: 46px;
  padding-right: 50px;
}
.acount-wrap .search .searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../img/ic_search.svg) center no-repeat;
}
.acount-wrap .search .searchBtn {
  border: 0;
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--evoke-primary, #5940DF);
  font-size: 16px;
  font-weight: 600;
}
.acount-wrap .subtit {
  color: var(--evoke-grey5, #4E505D);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 31.5px */
  letter-spacing: -0.63px;
}
.acount-wrap .companyWrap {
  display: block;
  padding: 20px 22px;
  border-radius: 5px;
  border: 1px solid var(--evoke-grey2, #CFD4D9);
  background: var(--bs-white, #FFF) url(../img//ic_arr_down_24.svg) right 10px center no-repeat;
  box-shadow: 0px 0px 0px 0px #CBDAFC;
  cursor: pointer;
  position: relative;
}
.acount-wrap .companyWrap .id {
  color: var(--evoke-grey5, #4E505D);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.acount-wrap .companyWrap .bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}
.acount-wrap .companyWrap .grey4 {
  color: var(--evoke-grey4, #A2A7B3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.acount-wrap .companyWrap .divider {
  width: 1px;
  height: 15px;
  background: #D9D9D9;
}
.acount-wrap .companyWrap .grey5 {
  color: var(--evoke-grey5, #4E505D);
  font-size: 16px;
  font-weight: 400;
}
.acount-wrap .divider-land {
  width: 100%;
  height: 1px;
  background: var(--evoke-grey2, #CFD4D9);
}
.acount-wrap .btn-secondary + .btn-secondary {
  margin-top: 10px;
}
.acount-wrap .logout {
  color: var(--evoke-primary, #5940DF);
  font-size: 16px;
  font-weight: 700;
}
.acount-wrap .etcAccount {
  display: none;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  top: 105%;
  left: -0.5%;
  width: 101%;
  border-radius: 12px;
  border: 1px solid var(--evoke-grey2, #CFD4D9);
  background: #FFF;
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
  padding: 0px 20px;
  box-sizing: border-box;
  z-index: 1;
}
.acount-wrap .etcAccount.ac {
  display: block;
}
.acount-wrap .etcAccount .item {
  padding: 20px 0;
}
.acount-wrap .etcAccount .item + .item {
  border-top: 1px solid var(--evoke-grey2, #CFD4D9);
}

.tab1 .nav-tabs {
  border: 0;
  border-radius: 5px;
  background: var(--evoke-bg, #F5F5F7);
  padding: 5px;
}
.tab1 .nav-item {
  flex: 1 0 auto;
}
.tab1 .nav-item .nav-link {
  width: 100%;
  height: 56px;
  border: 0;
  color: var(--evoke-grey4, #A2A7B3);
  font-weight: 700;
  border-radius: 4px;
}
.tab1 .nav-item .nav-link.active {
  background-color: #fff;
  color: var(--evoke-grey5, #4E505D);
}

.tab2 .nav {
  padding: 0;
  gap: 12px;
  margin-bottom: 10px;
}
.tab2 .nav-tabs {
  border: 0;
}
.tab2 .nav-item {
  width: auto;
}
.tab2 .nav-item .nav-link {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  padding: 12px 0;
  color: var(--evoke-grey3, #BDC1CC);
  border-bottom: 2px solid transparent;
}
.tab2 .nav-item .nav-link.active {
  border-bottom: 2px solid var(--evoke-grey6, #373843);
  color: var(--evoke-grey6, #373843);
}

.page-wrap {
  background-color: #F5F5F7;
  display: flex;
  height: 100vh;
  min-width: 1260px;
}
.page-wrap .conLayout {
  flex: 1 0 0;
  background-color: #fff;
  position: relative;
  overflow: auto;
}
.page-wrap .conLayout .contents {
  width: 100%;
  padding: 40px;
  height: 120vh;
}

.gnb {
  position: relative;
  width: 220px;
  padding: 40px 0 120px;
  display: flex;
  flex-direction: column;
}
.gnb .dropdown {
  display: flex;
  gap: 16px;
  padding: 0 20px;
  margin-bottom: 16px;
}
.gnb .company .label {
  color: var(--evoke-grey4, #A2A7B3);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  letter-spacing: -0.39px;
  margin-bottom: 2px;
}
.gnb .company .select {
  padding: 0;
  padding-right: 15px;
  background: url(../img/ic_gnb_select_arr.svg) right center no-repeat;
  border: 0;
  color: var(--evoke-grey5, #4E505D);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 19.5px */
  letter-spacing: -0.39px;
}
.gnb .dropdown-menu {
  border-radius: 4px;
  background: #FFF;
  padding: 16px 0;
  border: 0;
  box-shadow: 0 0 0 1px rgb(231, 229, 237);
}
.gnb .dropdown-menu .dropdown-item {
  text-decoration: none;
  color: var(--evoke-grey4, #A2A7B3);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  letter-spacing: -0.26px;
  padding: 8px 20px;
}
.gnb .dropdown-menu .dropdown-item:active {
  background-color: inherit;
}
.gnb .dropdown-menu .dropdown-item:hover {
  background: var(--evoke-bg, #F5F5F7);
}
.gnb .dropdown-menu li + li::before {
  content: "";
  display: block;
  width: calc(100% - 40px);
  margin-left: 16px;
  border-top: 1px solid var(--Base-outline, #E7E5ED);
}
.gnb .menu {
  padding: 10px 0;
}
.gnb .menu .listItem {
  display: flex;
  align-items: center;
  padding-left: 62px;
  position: relative;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  transition: 0.2s;
}
.gnb .menu .listItem:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.gnb .menu .listItem .icon {
  position: absolute;
  left: 34px;
  top: 15px;
  width: 20px;
  height: 20px;
}
.gnb .menu .listItem .name {
  color: var(--evoke-grey5, #4E505D);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 13px */
  padding-top: 4px;
}
.gnb .menu .listItem .name::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: var(--evoke-primary, #5940DF);
}
.gnb .menu .listItem.active .name::after {
  width: 100%;
}
.gnb .menu .listItem.dashboard .icon {
  background: url("../img/ic_dashboard_df.svg") center no-repeat;
}
.gnb .menu .listItem.dashboard.active .icon {
  background: url("../img/ic_dashboard_ac.svg") center no-repeat;
}
.gnb .menu .listItem.schedule .icon {
  background: url("../img/ic_schedule_df.svg") center no-repeat;
}
.gnb .menu .listItem.schedule.active .icon {
  background: url("../img/ic_schedule_ac.svg") center no-repeat;
}
.gnb .menu .listItem.community .icon {
  background: url("../img/ic_community_df.svg") center no-repeat;
}
.gnb .menu .listItem.community.active .icon {
  background: url("../img/ic_community_ac.svg") center no-repeat;
}
.gnb .menu .listItem.construction .icon {
  background: url("../img/ic_construction_df.svg") center no-repeat;
}
.gnb .menu .listItem.construction.active .icon {
  background: url("../img/ic_construction_ac.svg") center no-repeat;
}
.gnb .menu .listItem.customer .icon {
  background: url("../img/ic_customer_df.svg") center no-repeat;
}
.gnb .menu .listItem.customer.active .icon {
  background: url("../img/ic_customer_ac.svg") center no-repeat;
}
.gnb .menu .listItem.documents .icon {
  background: url("../img/ic_documents_df.svg") center no-repeat;
}
.gnb .menu .listItem.documents.active .icon {
  background: url("../img/ic_documents_ac.svg") center no-repeat;
}
.gnb .menu .listItem.employee .icon {
  background: url("../img/ic_employee_df.svg") center no-repeat;
}
.gnb .menu .listItem.employee.active .icon {
  background: url("../img/ic_employee_ac.svg") center no-repeat;
}
.gnb .menu .listItem.invoice .icon {
  background: url("../img/ic_invoice_df.svg") center no-repeat;
}
.gnb .menu .listItem.invoice.active .icon {
  background: url("../img/ic_invoice_ac.svg") center no-repeat;
}
.gnb .menu .listItem.payment .icon {
  background: url("../img/ic_payment_df.svg") center no-repeat;
}
.gnb .menu .listItem.payment.active .icon {
  background: url("../img/ic_payment_ac.svg") center no-repeat;
}
.gnb .menu .listItem.pricing .icon {
  background: url("../img/ic_pricing_df.svg") center no-repeat;
}
.gnb .menu .listItem.pricing.active .icon {
  background: url("../img/ic_pricing_ac.svg") center no-repeat;
}
.gnb .myState {
  position: absolute;
  left: 10px;
  bottom: 40px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px;
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--Base-outline, #E7E5ED);
  background: #FFF;
  /* boxshadow */
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
}
.gnb .myState .profile {
  width: 24px;
  height: 24px;
  background: url(../img/img_profile_df.svg) center/cover no-repeat;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.gnb .myState .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gnb .myState .text {
  flex: 1 0 auto;
}
.gnb .myState .text .name {
  color: var(--evoke-grey5, #4E505D);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  margin-bottom: 2px;
}
.gnb .myState .text .state {
  color: var(--evoke-grey4, #A2A7B3);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.gnb .myState .more .moreBtn {
  width: 24px;
  height: 24px;
  border: 0;
  text-indent: -9999px;
  background: url(../img/ic_more.svg) center no-repeat;
}
.gnb .myState .more .dropdown-menu {
  position: relative;
  margin-bottom: 8px !important;
}
.gnb .myState .more .dropdown-menu::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  box-sizing: border-box;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  bottom: -6px;
  left: 50%;
  border: 6px solid #fff;
  border-color: rgb(231, 229, 237);
}
.gnb .myState .more .dropdown-menu::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  box-sizing: border-box;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  bottom: -6px;
  left: 50%;
  border: 6px solid #fff;
  bottom: -5px;
}

.contents .pageName {
  color: var(--evoke-black, #161618);
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 48px */
  margin-bottom: 24px;
}
.contents .sectionTit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--evoke-grey5, #4E505D);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  margin-bottom: 10px;
}
.contents .sectionTit .viewAll {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 11px;
  gap: 10px;
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--evoke-secondary, #EDEBF6);
  color: var(--evoke-primary, #5940DF);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 19.5px */
}
.contents .dashboard .inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.contents .dashboard .inner .leftLayout {
  flex: 0 0 313px;
}
.contents .dashboard .inner .rightLayout {
  flex: 1 0 0;
}
.contents .dashboard .calendar {
  display: flex;
  height: 44px;
  padding: 0px 38px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 278px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid var(--evoke-grey2, #CFD4D9);
  color: var(--evoke-grey5, #4E505D);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  background: url(../img/ic_calendar.svg) left 12px center no-repeat, url(../img/ic_chevron_down.svg) right 12px center no-repeat;
}
.contents .dashboard .calendar::-moz-placeholder {
  color: var(--evoke-grey5, #4E505D);
}
.contents .dashboard .calendar::placeholder {
  color: var(--evoke-grey5, #4E505D);
}
.contents .dashboard .alarm {
  height: 400px;
  overflow: auto;
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--Base-outline, #E7E5ED);
  background: #FFF;
  padding: 8px;
  /* boxshadow */
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
}
.contents .dashboard .alarm .item {
  border-bottom: 1px solid var(--Base-outline, #E7E5ED);
  display: flex;
  padding: var(--Border-8, 8px);
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  gap: 13px;
}
.contents .dashboard .alarm .item .icon {
  width: 20px;
  height: 20px;
}
.contents .dashboard .alarm .item .icon.schedule {
  background: url(../img/ic_schedule_grey.svg) center no-repeat;
}
.contents .dashboard .alarm .item .icon.pricing {
  background: url(../img/ic_pricing_grey.svg) center no-repeat;
}
.contents .dashboard .alarm .item .text {
  flex: 1 0 0;
}
.contents .dashboard .alarm .item .tit {
  color: var(--evoke-grey6, #373843);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contents .dashboard .alarm .item .bottom {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--evoke-grey4, #A2A7B3);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.contents .dashboard .alarm .item .bottom .divider {
  width: 1px;
  height: 11px;
  background: #E8E9F0;
}
.contents .dashboard .alarm .item .time {
  flex: 0 0 auto;
  display: flex;
  padding: 0px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--evoke-secondary, #EDEBF6);
  color: var(--evoke-primary-deep, #53469A);
  text-align: center;
  font-family: Pretendard;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 163.636% */
}
.contents .dashboard .task {
  height: 400px;
  overflow: auto;
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--Base-outline, #E7E5ED);
  background: #FFF;
  padding: 8px;
  /* boxshadow */
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
}
.contents .dashboard .task .item {
  padding: 10px;
}
.contents .dashboard .task .item + .item {
  border-top: 1px solid var(--Base-outline, #E7E5ED);
}
.contents .dashboard .task .item .tit {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  color: var(--evoke-grey6, #373843);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 169.231% */
}
.contents .dashboard .task .item .bottom {
  display: flex;
  align-items: center;
}
.contents .dashboard .task .item .bottom .badge {
  border-radius: 4px;
  border: 1px solid var(--evoke-grey2, #CFD4D9);
  padding: 0 5px;
  color: var(--evoke-grey4, #A2A7B3);
  text-align: center;
  font-family: Pretendard;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 163.636% */
}
.contents .dashboard .task .item .bottom .sub {
  width: 110px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--evoke-grey4, #A2A7B3);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contents .dashboard .task .item .bottom .sub p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contents .dashboard .cardWrap {
  display: flex;
  gap: var(--Border-16, 16px);
  align-self: stretch;
}
.contents .dashboard .cardWrap .card {
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--Base-outline, #E7E5ED);
  background: #FFF;
  padding: 8px;
  /* boxshadow */
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
  margin-top: 10px;
  flex: 1 0 0;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: center;
}
.contents .dashboard .cardWrap .card .tit {
  color: var(--evoke-grey4, #A2A7B3);
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 19.5px */
}
.contents .dashboard .cardWrap .card .value {
  color: var(--evoke-grey6, #373843);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contents .dashboard .top5Crad {
  display: flex;
  gap: 8px;
}
.contents .dashboard .top5Crad .noData {
  display: flex;
  height: 110px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--Base-outline, #E7E5ED);
  background: #FFF;
  padding: 8px;
  /* boxshadow */
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
  width: 100%;
  flex: 1 0 0;
  color: var(--evoke-grey3, #BDC1CC);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contents .dashboard .top5Crad .card {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--Base-outline, #E7E5ED);
  background: #FFF;
  padding: 8px;
  /* boxshadow */
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
  padding: 12px;
  background: #FFF;
}
.contents .dashboard .top5Crad .card:nth-child(1) .rank {
  background: #E5D19F;
}
.contents .dashboard .top5Crad .card:nth-child(2) .rank {
  background: #EAEAEA;
}
.contents .dashboard .top5Crad .card:nth-child(3) .rank {
  background: #EDE3DC;
}
.contents .dashboard .top5Crad .card .rank {
  background-color: #F8F8F8;
  border-radius: 4px;
  padding: 0 6px;
  line-height: 20px;
  color: var(--evoke-grey6, #373843);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.contents .dashboard .top5Crad .card .profile {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contents .dashboard .top5Crad .card .profile .imgWrap {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--evoke-bg, #F5F5F7);
}
.contents .dashboard .top5Crad .card .profile .imgWrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contents .dashboard .top5Crad .card .profile .name {
  color: var(--evoke-grey4, #A2A7B3);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.contents .dashboard .top5Crad .card .value {
  color: var(--evoke-grey6, #373843);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  width: 100%;
  text-align: left;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contents .grid {
  border-radius: var(--Border-8, 8px);
  border: 1px solid var(--Base-outline, #E7E5ED);
  background: #FFF;
  padding: 8px;
  /* boxshadow */
  box-shadow: 0px 4px 32px 0px rgba(171, 163, 194, 0.2);
  padding: 0;
  width: 100%;
  overflow: auto;
  position: relative;
}
.contents .grid table {
  width: 100%;
}
.contents .grid thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 0 1px var(--Base-outline, #E7E5ED);
}
.contents .grid tr.hightlight td {
  background: var(--evoke-secondary, #EDEBF6);
  color: var(--evoke-primary, #5940DF);
  font-weight: 700;
}
.contents .grid th {
  color: var(--evoke-grey6, #373843);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 183.333% */
  height: 42px;
  padding: 5px 10px;
  vertical-align: middle;
}
.contents .grid th:first-child {
  padding-left: 20px;
}
.contents .grid th:last-child {
  padding-right: 20px;
}
.contents .grid td {
  color: var(--evoke-grey4, #A2A7B3);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  height: 34px;
  padding: 3px 10px;
  vertical-align: middle;
  border-bottom: 1px solid var(--Base-outline, #E7E5ED);
}
.contents .grid td:first-child {
  padding-left: 20px;
}
.contents .grid td:last-child {
  padding-right: 20px;
}
.contents .grid td .red {
  color: #E63939;
}
.contents .grid td .green {
  color: #00BD4F;
}/*# sourceMappingURL=style.css.map */